@import"_vars.scss";
@import"_breakpoint.scss";


header {
    #navBarMenu {
        a{
            @include vsm {
                font-size: 16px;
                font-weight: 600;
            }
        }
        
    }
    #headOfWeb {
        h1{
            @include vsm{
                font-size: 50px;
            }
        }
    }

}